@model IEnumerable<KeViraKombinaTodos.Web.Models.UsuarioModel>

<div>
@{
    var webGrid = new WebGrid(source: Model, defaultSort: "Descricao", canPage: true, rowsPerPage: 10);
}
@webGrid.GetHtml(
htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
    tableStyle:"table table-responsive table-striped table-bordered",
    columns: webGrid.Columns(
        webGrid.Column("Nome", header: "Nome"),
        webGrid.Column("CPF", header: "CPF"),
        webGrid.Column("Telefone", header: "Telefone"),
        webGrid.Column("Email", header: "Email", format: @<text><div class="edit" data-id="@item.UsuarioID" data-propertyname="Email">@item.Email</div></text>),
        webGrid.Column("Ativo", header: "Ativo", format: @<text> @Html.ActionLink(linkText: (@item.Status == true ? "Sim" : "Não"), actionName: ("EditCheckd"), routeValues: new { usuarioID = item.UsuarioID, value = @item.Status == true ? 0 : 1 })</text>),
        webGrid.Column("Perfil", header: "Perfil", format:@<text><div class="editSelect" data-id="@item.UsuarioID" data-propertyname="Perfil">@item.Perfil</div></text>),
        webGrid.Column("DataCriacao", header: "Data criação"),
        webGrid.Column("Excluir", format: @<text> @Html.ActionLink(linkText: "Excluir", actionName: "Excluir", routeValues: new { id = item.UsuarioID })</text>)
    )
)
</div>