@model KeViraKombinaTodos.Web.Models.UsuarioModel
<div class="container">
    <h2>Detalhes Usuário</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.UsuarioID, "Usuário ID")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UsuarioID)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.LabelFor(model => model.CPF)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CPF)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Telefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Email, "E-mail")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>
    </div>
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="Button" value="Voltar" id="btnVoltar" class="btn btn-warning" onClick="location.href='@Url.Action("Index", "Usuario")'; return false;" />
                <input type="submit" value="Editar" id="btnEdit" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Usuario", new { usuarioID = Model.UsuarioID})'; return false;" />
                <input type="submit" value="Nova Senha" id="btnNovaSenha" class="btn btn-success" onclick="NovaSenhaUsario();" />
                <input type="submit" value="Excluir" id="btnExcluir" class="btn btn-danger" onclick="ExcluirUsuario();" />
            </div>
        </div>
    </p>
</div>
    @section scripts{
        <script type="text/javascript">
}

        function ExcluirUsuario() {
            var returnVal = confirm("Tem certeza que deseja excluir o usuário?");

            if (returnVal) {
                RemoveUser();
            }
        }

        function RemoveUser() {
            location.href='@Url.Action("Excluir", "Usuario", new { userID = Model.UsuarioID})'; return false;
        }

        function DesativarUser() {
            location.href='@Url.Action("Desativar", "Usuario", new { userID = Model.UsuarioID})'; return false;
        }

        function NovaSenhaUsario() {
            var returnVal = confirm("Tem certeza que deseja redefinir a senha do usuário para a padrão?");

            if (returnVal) {
                NovaSenhaUser();
            }
        }

        function NovaSenhaUser() {
             location.href='@Url.Action("NovaSenha", "Usuario", new { userID = Model.UsuarioID})'; return false;
        }
        </script>
    }
