@model KeViraKombinaTodos.Web.Models.TransportadoraModel

<div class="container">
    <h2>Detalhes Transportadora</h2>
    <hr />
    <table>
        <tr>
            <td>
                <strong>Código:</strong> @Model.Codigo
            </td>
        </tr>
        <tr>
            <td>
                <strong>Descrição:</strong> @Model.Descricao
            </td>
        </tr>
    </table>
    <hr />
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="Button" value="Voltar" id="btnVoltar" class="btn btn-warning" onClick="location.href='@Url.Action("Index", "Transportadora")'; return false;" />
                <input type="submit" value="Excluir" id="btnExcluir" class="btn btn-danger" onclick="location.href='@Url.Action("Excluir", "Transportadora", new { transportadoraID = Model.TransportadoraID})'; return false;" />
                <input type="submit" value="Editar" id="btnEditar" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Transportadora", new { transportadoraID = Model.TransportadoraID})'; return false;" />
            </div>
        </div>
    </p>
</div>
