@model KeViraKombinaTodos.Web.Models.TransportadoraModel

<div class="container">
    <h2>Editar Transportadora</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.TransportadoraID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TransportadoraID, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.TransportadoraID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descricao, "Decrição", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Codigo, "Código", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                </div>
            </div>
            <p>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="Button" value="Voltar" class="btn btn-warning" onClick="location.href='@Url.Action("Details", "Transportadora", new { transportadoraID = Model.TransportadoraID})'; return false;" />
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </div>
            </p>
        </div>
    }
</div>
