@model KeViraKombinaTodos.Web.Models.CondicaoPagamentoModel
<div class="container">
    <h2>Detalhes Condição de Pagamento</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.Descricao, "Descrição")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>

        </dl>
    </div>
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="Button" value="Voltar" id="btnVoltar" class="btn btn-warning" onClick="location.href='@Url.Action("Index", "CondicaoPagamento")'; return false;" />
                <input type="submit" value="Excluir" id="btnExcluir" class="btn btn-danger" onclick="location.href='@Url.Action("Excluir", "CondicaoPagamento", new { condicaoPagamentoID = Model.CondicaoPagamentoID})'; return false;" />
                <input type="submit" value="Editar" id="btnEditar" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "CondicaoPagamento", new { condicaoPagamentoID = Model.CondicaoPagamentoID})'; return false;" />

            </div>
        </div>
    </p>
</div>
