@model KeViraKombinaTodos.Web.Models.ProdutoModel
<div class="container">
    <h2>Detalhes Produto</h2>

    <hr />
    <table>
        <tr>
            <td>
                <strong>Código:</strong> @Model.Codigo
            </td>
        </tr>
        <tr>
            <td>
                <strong>Descrição:</strong> @Model.Descricao
            </td>
        </tr>
        <tr>
            <td>
                <strong>Valor:</strong> @Model.Valor
            </td>
        </tr>
        <tr>
            <td>
                <strong>Quantidade:</strong> @Model.Quantidade
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Ativo) Ativo
            </td>
        </tr>
        <tr>
            <td>
                <strong>Data Criação:</strong> @Model.DataCriacao
            </td>
        </tr>
        <tr>
            <td>
                <strong>Data Modificação:</strong> @Model.DataModificacao
            </td>
        </tr>
    </table>
    <hr />
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="Button" value="Voltar" id="btnVoltar" class="btn btn-warning" onClick="location.href='@Url.Action("Index", "Produto")'; return false;" />
                <input type="submit" value="Excluir" id="btnExcluir" class="btn btn-danger" onclick="location.href='@Url.Action("Excluir", "Produto", new { ProdutoID = Model.ProdutoID})'; return false;" />
                <input type="submit" value="Editar" id="btnEdit" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Produto", new { ProdutoID = Model.ProdutoID})'; return false;" />
            </div>
        </div>
    </p>
</div>
