@model KeViraKombinaTodos.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Gerenciamento";
}

<div class="container">
    <h2>Alterar as configurações da sua conta.</h2>
    <hr />
    <table>
        <tr>
            <td>
                <strong>Senha:</strong>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Alterar Senha", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </td>
        </tr>
        <tr>
            <td>
                <strong>Phone Number:</strong>
                @(Model.PhoneNumber ?? "None")

                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Alterar Telefone", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remover Telefone" class="btn btn-link" />]</text>
                    }

                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Adicionar Telefone", "AddPhoneNumber")]</text>
                }
            </td>
        </tr>
        <tr>
            <td>
                <strong>Two-Factor Authentication:</strong>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>
                @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }
            </td>
        </tr>
    </table>
</div>