
@model IEnumerable<KeViraKombinaTodos.Web.Models.PedidoItemModel>

@{
    ViewBag.Title = "Carrinho Produtos";
}

<div class="container">
    <h2>Carrinho de Produtos</h2>
    <hr>

    @Html.Partial("_GridCarrinho", Model)

    <p>
        <table>
            <tr>
                <td>
                    <input type="Button" value="Voltar" id="btnVoltar" class="btn btn-warning" onClick="location.href='@Url.Action("Index", "Pedido")'; return false;" />
                    <input type="button" value="Avançar" class="btn btn-primary" onclick="location.href='@Url.Action("CreateDadosCliente", "Pedido")'; return false;" />
                </td>

            </tr>
        </table>
    </p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/funcoesjs")
    <script src="https://www.appelsiini.net/download/jquery.jeditable.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var oldValue = '';
            $('.edit').editable('@Url.Action("CreateCarrinhoItens")', {
                cssclass: 'jeditForm',
                tooltip: 'clique aqui',
                width: 'none',
                height: 'none',
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        produtoID: $(this).data('id'),
                        propertyName: $(this).data('propertyname'),
                        value: $(this).data('value')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    } else {
                        $(this).text(oldValue)
                    }
                    window.location.reload();
                }
            })
        })

    </script>
}