@model KeViraKombinaTodos.Web.Models.PedidoModel

@using GridMvc.Html
@{
    ViewBag.Title = "Seleção de Produtos";
}

<div class="container">
    <h2>Selecione os Produtos</h2>

    @Html.Partial("_GridProdutos", Model.Itens)

    <p>
        <table>
            <tr>
                <td>
                    <input type="button" value="Avançar" class="btn btn-primary" onclick="location.href='@Url.Action("CreateCarrinhoItens", "Pedido")'; return false;" />
                </td>

            </tr>
        </table>
    </p>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/funcoesjs")
    <script src="https://www.appelsiini.net/download/jquery.jeditable.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var oldValue = '';
            $('.edit').editable('@Url.Action("InserirCarrinho")', {
                cssclass: 'jeditForm',
                tooltip: 'clique aqui',
                width: 'none',
                height: 'none',
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    } else {
                        $(this).text(oldValue)
                    }
                }
            })
        })

         $(document).ready(function () {
            var oldValue = '';
            $('.edit').editable('@Url.Action("RemoverCarrinho")', {
                cssclass: 'jeditForm',
                tooltip: 'clique aqui',
                width: 'none',
                height: 'none',
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    } else {
                        $(this).text(oldValue)
                    }
                }
            })
        })

    </script>
}