@model IEnumerable<KeViraKombinaTodos.Web.Models.PedidoModel>

@using GridMvc.Html
@{
    ViewBag.Title = "Entregas";
}

<div class="container">
    <h2>Pedidos</h2>

    @Html.Partial("_GridEntregas", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/funcoesjs")
    <script src="https://www.appelsiini.net/download/jquery.jeditable.js"></script>
    <script type="text/javascript">

        $('.editSelect').editable('@Url.Action("EditStatusPedido")', {
            cssclass: 'jeditForm',
            tooltip: 'click to edit me...',
            width: 'none',
            height: 'none',
            type: 'select',
            submit: 'Ok',
            loadurl: '@Url.Action("GetStatus")',
            loaddata: function () {
                return {
                    pedidoID: $(this).data('id')
                }
            },
            onsubmit: function (settings, original) {
                oldValue = original.revert;
            },
            submitdata: function () {
                return {
                    pedidoID: $(this).data('id'),
                    PropertyName: $(this).data('propertyname'),
                    value: $(this).data('value')
                }
            },
            callback: function (value, settings) {
                var jsonData = $.parseJSON(value);
                if (jsonData.status) {
                    $(this).text(jsonData.value);
                }
                else {
                    $(this).text(oldValue);
                }
            }
        })

        $('.editSelect').click(function () {
            $('select', this).addClass('form-control pull-left w100');
            $('button', this).addClass('btn btn-sm btn-success margin10')
        })

    </script>
}