 <!--================Menu=================-->
<header class="header_area">
    <div class="top_menu row m0">
        <div class="container">
            <div class="float-right">
                <ul class="list header_social">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
            <div class="float-left">
                <a class="navbar-brand logo_h" href="/KeViraKombinaTodos.Web/">
                    <img src="/KeViraKombinaTodos.Web/Content/images/Logo_BancoQueViraMesaOficial.jpg" class="category-icon" width="100" height="100" />
                </a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-xl bg-transparent">
        <div class="container-md">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#responsive" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="responsive">
                <ul class="nav navbar-nav menu_nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Perfil", "Index", "Perfil", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Usuário", "Index", "Usuario", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Condição de Pagamento", "Index", "CondicaoPagamento", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Transportadora", "Index", "Transportadora", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Produto", "Index", "Produto", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Novo Pedido", "Index", "Pedido", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Visualizar Pedidos", "VisualizarPedidos", "Pedido", null, new { @class = "nav-link" })
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Visualizar Entregas", "VisualizarEntregas", "Pedido", null, new { @class = "nav-link" })
                        </li>


                        <li class="nav-item">
                            @Html.ActionLink("Gráficos", "Graficos", "Pedido", null, new { @class = "nav-link" })
                        </li>

                        <!--
                            <li class="nav-item">
                                @Html.ActionLink("Relatório Vendas", "Index", "Pedido", null, new { @class = "nav-link" })
                            </li>
                        -->
                    }
                    else
                    {
                        <div>
                            Você não tem permissão de acesso, por favor contate o Administrador do sistema para associar seu usuário a um perfil.
                        </div>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--================Menu=================-->