@model KeViraKombinaTodos.Web.Models.PerfilModel

<div class="container">
    <h2>Detalhes Perfil</h2>
    <hr />
    <table>
        <tr>
            <td>
                <strong>Código:</strong> @Model.Codigo
            </td>
        </tr>
        <tr>
            <td>
                <strong>Descrição:</strong> @Model.Descricao
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.SouTodoPoderoso) Pode ver todos os pedidos
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.SouComprador) Pode ver apenas seus pedidos
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.SouTransportador) Pode ver apenas suas entregas
            </td>
        </tr>
    </table>
    <hr />
    <p>
        <input type="Button" value="Voltar" id="btnVoltar" class="btn btn-warning" onClick="location.href='@Url.Action("Index", "Perfil")'; return false;" />
        <input type="submit" value="Excluir" id="btnExcluir" class="btn btn-danger" onclick="location.href='@Url.Action("Excluir", "Perfil", new { perfilID = Model.PerfilID})'; return false;" />
        <input type="submit" value="Editar" id="btnEdit" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Perfil", new { perfilID = Model.PerfilID})'; return false;" />
    </p>
</div>